<%- layout('layouts/Boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/medicine.css">  

<% if(foundItem) {%> 
<div class="container">
  <div class="row">
    <% for(let item of foundItem){ %>
    <div class="col">
      <div class="card" style="width: 10rem;">
          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-img-top" alt="...">
          <div class="card-body">
            
           
            
      
            
                      <h5 class="card-title "><%=item.owner.username%></h5>
                      <h6 class="card-title ">contact : <%=item.owner.mobile_num%></h6>
                   
                
               
          </div>
        </div>
    </div>
    <% } %> 
  </div>
  </div>
  <% }%> 
  
       
            

        
  
      


